/* 
    General Styles
*/

.flex{
    display: flex;  
  flex-wrap: wrap;
  gap: 5vmin;
    
}


.fa-heart:hover {
  
  color: red;
  
}
.spanAroundFavoritesList{
  float:right;
 
  
}
.navbarlogotopleft{
  object-fit: fill;
  height: 150px;
  width:150px;
}


