/* 
    General Styles
*/

.flex{
    display: flex;  
  flex-wrap: wrap;
  gap: 5vmin;
    
}


.fa-heart:hover {
  
  color: red;
  
}
.divAroundFavoritesList{
  align-self: center;
 margin-left: auto;
  
}
.navbarlogotopleft{
  object-fit: fill;
  height: 100px;
  width:100px;
}


.fa-trash{
  margin-left: auto;
}

.favoritelistLIs{
  display:flex;
}

.detailsViewDivWith4Facts{
  margin-top: 3%;
  display:flex;
  justify-content: space-around;
  color:red;
  font-family: Circular-Loom;
  font-size: 1vw;
  
}


.redline{
  border-bottom: 3px solid red;
  margin-top: 3%;
  width:90%;
  margin: 3% 0 5% 5%;
}