/* 
    General Styles
*/

.flex{
    display: flex;  
  flex-wrap: wrap;
  gap: 5vmin;
    
}


.fa-heart:hover {
  
  color: red;
  
}
.divAroundFavoritesList{
  align-self: center;
 margin-left: auto;
  
}
.navbarlogotopleft{
  object-fit: fill;
  height: 100px;
  width:100px;
}


